.login-corpo{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 115px;
	padding-bottom: 70px;

		.login-corpo-form{
			width: 346px;
			height: auto;
			float: left;
			margin-left: calc(50% - 285px);
			margin-top: 47px;
			background-color: #f8f7fa;
			padding: 42px 112px;

				h1{
					width: 100%;
					height: auto;
					float: left;
					margin: 0 0 43px 0;
					text-align: center;
					text-transform: uppercase;
					font-family: $font-lato;
					font-weight: 700;
					font-size: 25px;
					color: #413990;
				}
				.btn-face{
					width: 100%;
					height: auto;
					float: left;
					margin-bottom: 38px;

						img{
							width: 100%;
						}
				}
				.login-corpo-campos{
					width: 345px;
					height: 50px;
					float: left;
					position: relative;
					margin-bottom: 19px;
				}
				.login-corpo-btn{
					width: 100%;
					height: auto;
					float: left;
						input{
							width: 100%;
							height: 50px;
							float: right;
							line-height: 50px;
							background-color: #ec5757;
							border: 0px;
							text-transform: uppercase;
							font-family: $font-lato;
							font-weight: 400;
							font-size: 16px;
							color: #FFF;
							padding: 0;
    						margin: 0;
    						cursor: pointer;
						}
				}
				label{
					width: auto;
					height: auto;
					position: absolute;
					top: 9px;
					left: 16px;
					text-transform: uppercase;
					font-family: $font-lato;
					font-weight: 400;
					font-size: 9px;
					color: #909090;
				}
				input{
					width: 327px;
					height: 25px;
					float: left;
					padding-top: 25px;
					padding-left: 16px;
					border: 1px solid #d4d4d5;
					background-color: #f8f7fa;
					font-family: $font-lato;
					font-weight: 400;
					font-size: 16px;
					color: #414141;
				}
				.login-corpo-cadastre{
					width: 100%;
					height: auto;
					float: left;
					text-align: center;
					margin-top: 41px;
					font-family: $font-lato;
					font-weight: 400;
					font-size: 17px;
					color: #696b74;

						a{
							font-family: $font-lato;
							font-weight: 400;
							font-size: 17px;
							color: #696b74;
						}
				}
		}
}
