h1{
	width: 100%;
	height: auto;
	float: left;
	margin: 170px 0 0;
	text-transform: uppercase;
	text-align: center;
	font-family: $font-lato;
	font-weight: 300;
	font-size: 35px;
	color: #413990;
}
p{
	width: 100%;
	height: auto;
	float: left;
	margin: 35px 0 0;
	text-align: center;
	font-family: $font-lato;
	font-weight: 400;
	font-size: 18px;
	color: #413990;
}
.conteudos{
	width: 878px;
	height: auto;
	float: left;
	margin-top: 56px;
}
.filtro{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 36px;

		label{
			width: auto;
			height: 39px;
			float: left;
			margin-right: 22px;
			line-height: 39px;
			text-transform: uppercase;
			font-family: $font-lato;
			font-weight: 700;
			font-size: 16px;
			color: #413990;
		}
		select{
			width: 155px;
			height: 39px;
			float: left;
			border: 1px solid #dbdbdb;
			font-family: $font-lato;
			font-weight: 400;
			font-size: 16px;
			color: #413990;
		}
}
.conteudo-mentores{
	width: 100%;
	height: auto;
	float: left;
		
		ul{
			width: 100%;
			height: auto;
			float: left;

				li{
					width: 195px;
					height: auto;
					float: left;
					margin: 48px 24px 0 0;					
				}
		}
		.card-mentores{
			width: 100%;
			height: 202px;
			float: left;
			background-color: #eae8f0;
			border-radius: 5px;

				.carg-img{
					width: 100%;
					height: auto;
					float: left;
					text-align: center;
					margin-bottom: 35px;
					margin-top: 18px;
				}
				h2{
					width: 100%;
					height: auto;
					float: left;
					text-align: center;
					text-transform: uppercase;
					font-family: $font-lato;
					font-weight: 700;
					font-size: 13px;
					color: #413990;
				}
		}
}
.top-dez{
	width: 210px;
	height: auto;
	float: right;
	margin-top: 56px;

		h2{
			width: 100%;
			height: auto;
			float: left;
			text-align: left;
			text-transform: uppercase;
			font-family: $font-lato;
			font-weight: 300;
			font-size: 27px;
			color: #413990;
		}
		ul{
			width: 100%;
			height: auto;
			float: left;
			margin-top: 57px;
				li{
					width: 100%;
					height: auto;
					float: left;
					margin-bottom: 22px;
					font-family: $font-lato;
					font-weight: 400;
					font-size: 18px;
					color: #413990;
						span{
							font-weight: 700;
							margin-right: 10px;
						}
				}
		}
}