body.sucesso-cadastro{
	h1{
		width: 100%;
		height: auto;
		float: left;
		margin: 170px 0 0;
		text-transform: uppercase;
		text-align: center;
		font-family: $font-lato;
		font-weight: 300;
		font-size: 35px;
		color: #413990;
	}
	p{
		width: 100%;
		height: auto;
		float: left;
		margin: 35px 0 200px 0;
		text-align: center;
		font-family: $font-lato;
		font-weight: 400;
		font-size: 18px;
		color: #413990;
	}
	
}
