footer{
	width: 100%;
	height: auto;
	float: left;
	padding: 41px 0;
	background-color: #413990;

		.footer-logo{
			width: 100%;
			height: 68px;
			float: left;
			font-size: 0;
			background-image: url(../images/logo.jpg);
			background-repeat: no-repeat;
			background-position: center center;
		} 
		.footer-menu{
			width: 100%;
			height: auto;
			float: left;
			margin-top: 27px;

				ul{
					width: 515px;
					height: auto;
					margin: 0 auto;
				}
				li{
					width: auto;
					height:23px;
					float: left;
					margin: 0 10px;

						a{
							width: 100%;
							height: auto;
							float: left;
							position: relative;
							padding: 0 12px;
							text-transform: uppercase;
							font-family: $font-lato;
							font-weight: 400;
							font-size: 13px;
							color: #FFF;

								&:before{
									content: "";
									width: 5px;
									height: 5px;
									border-radius: 50%;
									background-color: #FFF;
									position: absolute;
									top: 5px;
    								right: 10px;
								}
						}
						&:hover{
							border-bottom: 3px solid #FFF;
						}
						&:last-child{
							a{
								&:before{
									display: none;
								}
							}
						}
				}
		}
		.redes{
			width: 100%;
			height: auto;
			float: left;
			margin-top: 29px;
				ul{
					width: 120px;
					height: auto;
					margin: 0 auto;
				}
				li{
					width: 20px;
					height: 20px;
					float: left;
					margin-right: 20px;
				}
		}
}