header{
	width: 100%;
	height: 115px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #413990;
	z-index: 1;

		.header-logo{
			width: 68px;
			height: 68px;
			float: left;
			margin-top: 22px;
			font-size: 0;
			background-image: url(../images/logo.jpg);
		}
		.header-menu{
			width: auto;
			height: auto;
			float: left;
			margin: 43px 0 0 80px;
				ul{
					width: 100%;
					height: auto;
					float: left;
				}
				li{
					width: auto;
					height:23px;
					float: left;
					margin: 0 23px;

						a{
							width: 100%;
							height: auto;
							float: left;
							padding: 0 12px;
							text-transform: uppercase;
							font-family: $font-lato;
							font-weight: 400;
							font-size: 13px;
							color: #FFF;
						}
						&:hover{
							border-bottom: 3px solid #FFF;
						}
				}
		}
		.header-login{
			width: 227px;
			height: 40px;
			float: right;
			margin-top: 28px;
				ul{
					width: 100%;
					height: auto;
					float: left;
				}
				li{
					text-align: center;
					line-height: 40px;
					text-transform: uppercase;
					font-family: $font-lato;
					font-size: 13px;
					font-weight: 400;
					cursor: pointer;
					&:first-child{
						width: 90px;
						height: 40px;
						float: left;
							a{
								color: #FFF;
							}
					}	
					&:last-child{
						width: 137px;
						height: 40px;
						float: left;
						background-color: #FFF;
							a{
								color: #413990;
							}
					}

				}
		}
}